.bg-dark{
    background-color: black !important;
}


.title h1{
    font-size: 28px;
    font-weight: 700;
    color: #6d6e6e;
}


body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .content {
    height: 70vh; }
  
  .footer-32892 {
    background-color: black;
    padding: 7rem 0;
    color: #888;
    font-size: 16px; }
    .footer-32892, .footer-32892 h3 {
      font-family: "Poppins", sans-serif; }
    .footer-32892 h3 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 30px; }
    .footer-32892 p {
      font-family: "Source Serif Pro", serif; }
    .footer-32892 .row.gallery {
      margin-right: -5px;
      margin-left: -5px; }
      .footer-32892 .row.gallery > [class^="col-"],
      .footer-32892 .row.gallery > [class*=" col-"] {
        padding-right: 5px;
        padding-left: 5px; }
    .footer-32892 .gallery a {
      display: block;
      margin-bottom: 10px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .footer-32892 .gallery a:hover {
        opacity: .5; }
    .footer-32892 .quick-info li {
      color: #fff;
      font-size: 16px;
      margin-bottom: 10px; }
      .footer-32892 .quick-info li a {
        color: #fff; }
      .footer-32892 .quick-info li .icon {
        font-size: 20px;
        color: #f88020; }
    .footer-32892 .subscribe {
      position: relative; }
      .footer-32892 .subscribe .form-control {
        background-color: #292b31;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 30px;
        height: 55px;
        padding-left: 30px;
        padding-right: 130px;
        border: none;
        color: #fff; }
        .footer-32892 .subscribe .form-control::-webkit-input-placeholder {
          color: #ccc;
          font-size: 14px; }
        .footer-32892 .subscribe .form-control::-moz-placeholder {
          color: #ccc;
          font-size: 14px; }
        .footer-32892 .subscribe .form-control:-ms-input-placeholder {
          color: #ccc;
          font-size: 14px; }
        .footer-32892 .subscribe .form-control:-moz-placeholder {
          color: #ccc;
          font-size: 14px; }
      .footer-32892 .subscribe .btn-submit {
        background: #f88020;
        height: 47px;
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 4px;
        right: 4px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .footer-32892 .tweets li {
      margin-bottom: 20px;
      font-size: 15px;
      font-style: italic;
      font-family: "Source Serif Pro", serif; }
      .footer-32892 .tweets li span {
        color: #fff; }
    .footer-32892 .footer-menu-wrap {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 2rem !important;
      margin-top: 7rem; }
    .footer-32892 .footer-menu {
      margin-bottom: 0; }
      .footer-32892 .footer-menu li {
        display: inline-block; }
        @media (max-width: 767.98px) {
          .footer-32892 .footer-menu li {
            display: block; } }
        .footer-32892 .footer-menu li a {
          padding: 10px;
          display: inline-block;
          color: #fff; }
          @media (max-width: 767.98px) {
            .footer-32892 .footer-menu li a {
              display: block;
              padding-left: 0px; } }
        .footer-32892 .footer-menu li:first-child a {
          padding-left: 0; }
    .footer-32892 .site-logo {
      color: #fff;
      font-size: 20px; }