{% load static %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'banner/tes1.jpeg' %}"  class="d-block w-100 img-fluid" style="width: 996px;height: 376px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'banner/tes2.jpeg' %}" class="d-block w-100 img-fluid" style="width: 996px;height: 376px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'banner/tes3.jpeg' %}" class="d-block w-100 img-fluid" style="width: 996px;height: 376px;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>