{% load static %}

<div class="row">
    {% for item in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ item.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{ item.name }}</h5>
                    </div>
                    <div class="col">
                        <p>$ {{ item.price }}/pac</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=+2203977787&text=Hii,,%20I%20Want%20to%20order%20a%20product%20{{ item.name }}"
                            class="btn btn-dark animate-up-1 w-100">
                            <i class="fa-brands fa-whatsapp"></i>
                            Order 
                        </a>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#Detail{{ item.id }}">
                            <i class="fa-solid fa-magnifying-glass"></i>    
                            Detail
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Detail{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail {{ item.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ item.desc }}</p>
                </div>  
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+2203977787&text=Hii,,%20I%20Want%20to%20order%20a%20product%20{{ item.name }}"
                        class="btn btn-dark animate-up-1">
                        Order 
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
