{% extends 'base.html' %}



{% block content %}
<div class="px-2 py-2" style="background-color: #eaeaea;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">about</li>
    </ol>
  </nav>

</div>

<div class="text-center mt-2">
<h2>About me</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nulla!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nullaLorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nullaLorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nulla</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nulla!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nullaLorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nullaLorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore similique tenetur eveniet. Dolores eos placeat, suscipit quasi, animi exercitationem ea vitae eligendi dolorem hic repudiandae vel qui ipsa nulla</p>


</div>
{% endblock content %}
    