{% extends 'base.html' %}



{% block content %}
<div class="px-2 py-2" style="background-color: #eaeaea;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">contact</li>
    </ol>
  </nav>

</div>

<div class="mt-2">
<h2 class="text-center">Contact Me</h2>

<div class="container" id="kontak">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">

        <div class="mb-3 mt-5">
            <h5>Phone</h5>
            <div class="d-flex">
                <i class="fas fa-phone mt-1"></i>
                <p class="ms-2">8777878778</p>
            </div>
        </div>

        <div class="mb-3 mt-5">
            <h5>Mail</h5>
            <div class="d-flex">
                 <i class="fa-solid fa-envelope mt-1"></i>
                <p class="ms-2">@tsss</p>
            </div>
        </div>

        <div class="mb-3 mt-5">
            <h5>Address</h5>
            <div class="d-flex">
                <i class="fa-solid fa-location-dot mt-1"></i>
                <p class="ms-2">sdfsdfsdf</p>
            </div>
        </div>
        
      

      
               
      </div>
  
      <div class="col-lg-7 col-md-5 col-sm-12">
  
       <!--Google map-->
       <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=660&amp;height=432&amp;hl=en&amp;q=afrika&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://strandsgame.net/">Strands Game</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:432px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:432px;}.gmap_iframe {height:432px!important;}</style></div>
  
  
        <div class="mt-5" style="margin-left: 100px;">
          <a class="p-2" href=""><img width="40" src="#" alt="">fb</a>
          <a class="p-2" href=""><img width="40" src="" alt="">fb</a>
          <a class="p-1" href=""><img width="50" src="" alt="">fb</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}
    