{% extends 'base.html' %}



{% block content %}
{% include 'comps/banner.html' %}

    <div class="title my-5">
        <h1 class="text-center">Mikrotik second </h1>
    </div>

    {% include 'comps/products.html' %}

    <!-- seo -->
    <div class="text-center mt-3">
        <h2 style="font-size: 16px;color: #6d6e6e;">Mengapa harus belanja di keida.com ?</h2>
        <p style="font-size: 12px;color: #6d6e6e;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi expedita molestiae fugiat asperiores quis, sapiente dolor culpa quia cum, earum corrupti velit iste possimus reprehenderit, eveniet accusamus et minima quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        consectetur adipisicing elit. Commodi expedita molestiae fugiat asperiores quis, sapiente dolor culpa quia cum, earum corrupti velit iste possimus reprehenderit, eveniet accusamus et minima quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        </p>
    </div>

    <div class="text-center mt-5">
        <h2 style="font-size: 16px;color: #6d6e6e;">Cara belanja di keida.com ?</h2>
        <p style="font-size: 12px;color: #6d6e6e;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi expedita molestiae fugiat asperiores quis, sapiente dolor culpa quia cum, earum corrupti velit iste possimus reprehenderit, eveniet accusamus et minima quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        consectetur adipisicing elit. Commodi expedita molestiae fugiat asperiores quis, sapiente dolor culpa quia cum, earum corrupti velit iste possimus reprehenderit, eveniet accusamus et minima quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        consectetur adipisicing elit. Commodi expedita molestiae fugiat asperiores quis, sapiente dolor culpa quia cum, earum corrupti velit iste possimus reprehenderit, eveniet accusamus et minima quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        consectetur adipisicing elit. Commodi expedita molestiae fugiat asperiores quis, sapiente dolor culpa quia cum, earum corrupti velit iste possimus reprehenderit, eveniet accusamus et minima quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptate aut necessitatibus neque ratione ipsum recusandae quas? Aliquid, doloribus nemo, odit amet consequatur repellat voluptate autem necessitatibus cum sapiente quis!
        </p>
    </div>

    <!-- end -->
{% endblock content %}
    